language: node_js
node_js: stable

sudo: false

install: true  # yarn bug

addons:
  firefox: latest
  chrome: stable

os:
  - linux
  - osx

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew outdated xctool || brew upgrade xctool; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export DISPLAY=:99.0; fi

before_script:
  - npm install

branches:
  only: master

notifications:
  email: true

cache:
  directories: node_modules

script:
  - npm run build
